<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>80</string>
				<string>58</string>
				<string>29</string>
				<string>120</string>
				<string>icon@2x.png</string>
				<string>icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.orkestra.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.viveka.${PRODUCT_NAME}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb451419751605321</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>FacebookAppID</key>
	<string>451419751605321</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ReplacementFonts</key>
	<dict>
		<key>Helvetica</key>
		<string>Lato-Regular</string>
		<key>Helvetica-Bold</key>
		<string>Lato-Black</string>
		<key>Helvetica-Light</key>
		<string>Lato-Light</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Lig.ttf</string>
		<string>Lato-Reg.ttf</string>
		<string>Lato-Bla.ttf</string>
		<string>Lato-Bol.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
